/ section porfolio
/ ================
%section.pv-30.light-gray-bg.padding-bottom-clear
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2.text-center
          Our
          %strong Portfolio
        .separator
        %p.large.text-center
          Atque ducimus velit, earum quidem, iusto dolorem. Ex ipsam totam quas blanditiis,
          pariatur maxime ipsa iste, doloremque neque doloribus, error. Corrupti, tenetur.
        %br
  .space-bottom
    .owl-carousel.carousel
      .image-box.shadow.text-center
        .overlay-container
          = image_tag("portfolio-1.jpg")
          .overlay-top
            .text
              %h3
                %a{:href => "portfolio-item.html"} Project Title
              %p.small Lorem ipsum dolor sit amet.
          .overlay-bottom
            .links
              %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                View Details
                %i.pl-10.fa.fa-arrow-right
      .image-box.shadow.text-center
        .overlay-container
          = image_tag("portfolio-2.jpg")
          .overlay-top
            .text
              %h3
                %a{:href => "portfolio-item.html"} Project Title
              %p.small Lorem ipsum dolor sit amet.
          .overlay-bottom
            .links
              %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                View Details
                %i.pl-10.fa.fa-arrow-right
      .image-box.shadow.text-center
        .overlay-container
          = image_tag("portfolio-3.jpg")
          .overlay-top
            .text
              %h3
                %a{:href => "portfolio-item.html"} Project Title
              %p.small Lorem ipsum dolor sit amet.
          .overlay-bottom
            .links
              %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                View Details
                %i.pl-10.fa.fa-arrow-right
      .image-box.shadow.text-center
        .overlay-container
          = image_tag("portfolio-4.jpg")
          .overlay-top
            .text
              %h3
                %a{:href => "portfolio-item.html"} Project Title
              %p.small Lorem ipsum dolor sit amet.
          .overlay-bottom
            .links
              %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                View Details
                %i.pl-10.fa.fa-arrow-right
      .image-box.shadow.text-center
        .overlay-container
          = image_tag("portfolio-5.jpg")
          .overlay-top
            .text
              %h3
                %a{:href => "portfolio-item.html"} Project Title
              %p.small Lorem ipsum dolor sit amet.
          .overlay-bottom
            .links
              %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                View Details
                %i.pl-10.fa.fa-arrow-right
      .image-box.shadow.text-center
        .overlay-container
          = image_tag("portfolio-6.jpg")
          .overlay-top
            .text
              %h3
                %a{:href => "portfolio-item.html"} Project Title
              %p.small Lorem ipsum dolor sit amet.
          .overlay-bottom
            .links
              %a.btn.btn-gray-transparent.btn-animated{:href => "portfolio-item.html"}
                View Details
                %i.pl-10.fa.fa-arrow-right
    =render 'shared/members'
    .container
      .clients-container
        .clients
          .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "100"}
            %a{:href => "#"}= image_tag("client-1.png")
          .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "200"}
            %a{:href => "#"}= image_tag("client-2.png")
          .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "300"}
            %a{:href => "#"}= image_tag("client-3.png")
          .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "400"}
            %a{:href => "#"}= image_tag("client-4.png")
          .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "500"}
            %a{:href => "#"}= image_tag("client-5.png")
          .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "600"}
            %a{:href => "#"}= image_tag("client-6.png")
          .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "700"}
            %a{:href => "#"}= image_tag("client-7.png")
          .client-image.object-non-visible{"data-animation-effect" => "fadeIn", "data-effect-delay" => "800"}
            %a{:href => "#"}= image_tag("client-8.png")
              / section end
