- active_nav_item :home
- @full_header = true
- @page_title = 'Welcome'
- content_for :services do
  = render 'shared/service_list', :services=>@services
- content_for :banner do
  = render 'shared/main_banner'
- content_for :bottom_a do
  = render 'shared/core_feature'
- content_for :bottom_b do
  = render 'shared/offers'
- content_for :bottom_c do
  = render 'shared/choose_us'
- content_for :bottom_d do
  = render 'shared/what_offers'