- @page_title = t("shoppe.services.services")

= content_for :header do
  %p.buttons
    =link_to t('shoppe.services.new_service'), :new_service,class: 'button green'
  %h2.settings= t("shoppe.services.services")
.table
  %table.data
    %thead
      %tr
        %th{width:100}= t('shoppe.services.image')
        %th= t('shoppe.services.name')
        %th= t('shoppe.services.price')
        %th= t('shoppe.services.price_promotion')
        %th= t('shoppe.services.active')
        %th= t('shoppe.services.featured')
    %tbody
      - if @services.empty?
        %tr.empty
          %td{colspan: 5}= t('shoppe.posts.no_services')
      - else
        - for service in @services
          %tr
            %td
              = link_to [:edit,service] do
                -if service.default_image
                  =image_tag service.default_image.path, height: 60
            %td
              = link_to service.name, [:edit,service]
            -#%td= service.excerpt, [:edit, service]
            %td= number_to_currency service.price
            %td= number_to_currency service.price_promotion
            %td= t('shoppe.services.active_'+service.active?.to_s)
            %td= t('shoppe.services.featured_'+service.featured?.to_s)
= paginate @services